:host ::ng-deep p-tabview .p-tabview-nav li .p-tabview-nav-link {
    height: 80px;
}

:host ::ng-deep .p-tabview .p-tabview-panels {
    min-height: var(--app-height);
    padding: 1rem;
    background-color: #eff3f7;
}