img {
    border-radius: 6px 6px 0 0;
}

a {
    color: #4582ec;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    cursor: pointer;

    &:hover {
        color: #236ce9;
        text-decoration: underline;
    }
}

:host ::ng-deep .p-card .p-card-content{
    padding: 0;
}