:host ::ng-deep .p-button.p-fileupload-choose {
    font-size: 14px;
    padding: 10.5px 17.5px;
}

:host ::ng-deep .p-inputtext-sm .p-inputtext  {
    padding: 0.2rem
}

:host ::ng-deep .p-chips .p-chips-multiple-container  {
    padding: 0.2rem;    
    width: 100%;
}

:host ::ng-deep .p-chips  {
    width: 100%;
}