<div class="bg-gray-800 px-4 py-4 md:px-6 lg:px-8">
  <div class="grid">
      <div class="col-12 md:col-6 flex flex-wrap justify-content-start align-items-center">
          <img src="assets/images/logo-removebg.png" height="80">
      </div>
      <div class="col-12 md:col-6">
          <div class="text-gray-200 font-bold">
              © ITKMITL
          </div>
          <div class="text-gray-200 font-bold">
              School of Information Technology, King Mongkut's Institute of Technology Ladkrabang
          </div>
          <div class="text-gray-200 font-bold">
              1 Chalongkrung Road Bangkok Thailand 10520
          </div>
      </div>
  </div>
</div>